@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  
  /* Primary Palette */
  --color-primary: #623CEA;
  --color-primary-50: #311E75;
  --color-secondary: #50CF9A;
  --color-secondary-50: #E5F8F0;
  --color-tertiary: #FF577F;
  --color-tertiary-50: #311E75;
  --color-quaternary: #506CCF;
  --color-quaternary-50: #E5E9F8;

  /* Social Medias */
  --facebook: #506CCF;
  --instagram: #CF50AC;
  --linkdin: #0E76A8;

  /* Grey Scale Palette */
  --grey-4: #212529;
  --grey-3: #868E96;
  --grey-2: #868E96;
  --grey-1: #121214;
  --grey-0: #0A0A0B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
